@model AplikacjaBazodanowa.Models.Rezerwacje

<h2>Usuń Rezerwację</h2>

<h3>Czy na pewno chcesz usunąć tę rezerwację?</h3>
<div>
    <h4>@Model.Pasazer.Imie @Model.Pasazer.Nazwisko - @Model.Lot.Miasto_Odlotu - @Model.Lot.Miasto_Przylotu</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Data Rezerwacji
        </dt>
        <dd class="col-sm-10">
            @Model.Data_Rezerwacji.ToString("dd.MM.yyyy")
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Rezerwacji" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div> 